html, body {
    overflow: hidden; /* Prevent scrolling */
    height: 100%;
    margin: 0;
    font-family: 'Cambria', serif;
    background-color: #f8f9fa;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .header {
    width: 100%;
    background-color: #d32f2f;
    color: white;
    padding: 3%;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Cambria', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .header img {
    position: absolute;
    top: 3%;
    left: 3%;
    width: auto;
    height: 100%; /* Ensure the full image is visible */
    max-height: 70%; /* Adjust max-height as needed */
    object-fit: contain;
  }

  a:link, a:visited {
    color: blue;
    text-decoration: none;
  }

  a:hover, a:active {
    color: darkblue;
    text-decoration: underline;
  }

  .footer {
    width: 100%;
    background-color: #484444;
    color: #333;
    padding: 3%;
    text-align: center;
    font-size: 1rem;
  }

  .search-box {
    text-align: center;
    width: 100%;
    max-width: 600px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search-form {
    display: flex;
    width: 100%;
    max-width: 600px;
  }

  .search-input {
    flex: 1;
    padding: 15px; /* Adjust padding as needed */
    font-size: 1.2rem; /* Adjust font size as needed */
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
  }

  .search-button {
    padding: 15px 30px; /* Adjust padding as needed */
    font-size: 1.2rem; /* Adjust font size as needed */
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #d32f2f;
    color: white;
    cursor: pointer;
  }

  .scrollable-queries {
    max-height: 150px; /* Adjust height as needed */
    overflow-y: auto;
    margin-top: 20px;
    width: 100%;
  }

  .popular-queries {
    width: 100%;
    border-collapse: collapse;
  }

  .popular-queries td {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }

  .info-box {
    margin-top: 20px;
    padding: 20px;
    background-color: #e0e0e0;
    border: 1px solid #ddd;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 2rem;
    color: #333;
  }